<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      th:with="title='Ajouter une oeuvre prêt'">
<th:block layout:fragment="content">
    <div class="form-group">
        <label for="title">Titre</label>
        <input id="title" type="text" class="form-control" name="title"/>
    </div>

    <div class="form-group">
        <label for="owner">Propriétaire</label>
        <select class="form-control" id="owner">
            <option th:each="owner : ${owners}" th:text="${owner.getFirstname() + ' ' + owner.getSurname()}"
                    th:value="${owner.getId()}"></option>
        </select>
    </div>

    <button class="btn btn-success" onclick="submit()">Ajouter l'oeuvre</button>
</th:block>
</html>


<script type="text/javascript">

    function submit() {

        var title = document.getElementById("title").value;
        var ownerId = document.getElementById("owner").value;

        console.log(title);
        console.log(ownerId);

        var URL = "/worksforlending";

        var dataObject = {'title': title, 'ownerId': ownerId};

        $.ajax({
            url: URL,
            type: 'POST',
            data: dataObject,
            dataType: 'json',
            success: function (result) {
                location.href = URL;
            },
            error: function (resultat) {

            }
        });
    }

</script>