<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      th:with="title='Liste des adhérents'">

<th:block layout:fragment="content">
    <input id="searchInput" type="text" class="form-control" name="searchInput"  onkeyup="filter()" placeholder="Rechercher un adhérent"/>
    <table class="table table-striped" id="adherentTable">
        <thead class="thead-dark">
        <tr>
            <th>Numéro</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Ville</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="adherent : ${adherents}" th:attr="data-id=${adherent.getId()}">
            <td th:text="${adherent.getId()}"></td>
            <td th:text="${adherent.getSurname()}"> </td>
            <td th:text="${adherent.getFirstname()}"></td>
            <td th:text="${adherent.getCity()}"></td>
            <td>
                <button th:attr="data-validate-button=${adherent.getId()}" type="button" class="btn btn-success validateModificationsButton"
                        th:onclick="'editAdherent(\'' + ${adherent.getId()} + '\');'">
                    <i class="fa fa-check" style="color:white; font-size:1.5em;"></i>
                </button>
                <button th:attr="data-cancel-button=${adherent.getId()}" type="button" class="btn btn-warning cancelModificationsButton"
                        th:onclick="'setReadMode(\'' + ${adherent.getId()} + '\');'">
                    <i class="fa fa-times" style="color:white; font-size:1.5em;"></i>
                </button>
                <button th:attr="data-edit-button=${adherent.getId()}" type="button" class="btn btn-warning" th:onclick="'setEditMode(\'' + ${adherent.getId()} + '\');'">
                    <i class="fa fa-pencil" style="color:white; font-size:1.5em;"></i>
                </button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmationModal"
                        th:attr="data-delete-button=${adherent.getId()},data-adherent-id=${adherent.getId()},data-adherent-surname=${adherent.getSurname()},
                        data-adherent-firstname=${adherent.getFirstname()}">
                    <i class="fa fa-trash" style="color:white; font-size:1.5em;"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="modal fade" id="deleteConfirmationModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmation de suppression</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Voulez-vous vraiment supprimer <span id="adherentName"></span> de la liste des adhérents ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        <a id="deleteConfirmationLink" style="color:inherit" >Supprimer</a>
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>

        </div>
    </div>
</th:block>
</html>

<script type="text/javascript">
    $('#deleteConfirmationModal').on('show.bs.modal', function (e) {
        var adherentId = $(e.relatedTarget).data('adherent-id');
        var adherentSurname = $(e.relatedTarget).data('adherent-surname');
        var adherentFirstname = $(e.relatedTarget).data('adherent-firstname');

        document.getElementById("adherentName").innerHTML = adherentFirstname + ' ' + adherentSurname;

        document.getElementById("deleteConfirmationLink").onclick = function () {
            deleteAdherent(adherentId);
        };
    });

    function setEditMode(rowId) {

        $('[data-validate-button=' + rowId + ']')[0].style.setProperty("display", "inline", "important");
        $('[data-cancel-button=' + rowId + ']')[0].style.setProperty("display", "inline", "important");
        $('[data-edit-button=' + rowId + ']')[0].style.display = "none";
        $('[data-delete-button=' + rowId + ']')[0].style.display = "none";

        var row = $('[data-id=' + rowId + ']')[0];

        // Surname
        var surname = row.children[1].innerText;
        var surnameInput = document.createElement("INPUT");
        surnameInput.setAttribute("id", "surname");
        surnameInput.setAttribute("type", "text");
        surnameInput.setAttribute("class", "form-control");
        surnameInput.setAttribute("name", "surname");
        surnameInput.setAttribute("value", surname);
        surnameInput.dataset.current = surname;
        var surnameTd = document.createElement("TD");
        surnameTd.appendChild(surnameInput);
        row.replaceChild(surnameTd, row.children[1]);

        // Firstname
        var firstname = row.children[2].innerText;
        var firstnameInput = document.createElement("INPUT");
        firstnameInput.setAttribute("id", "firstname");
        firstnameInput.setAttribute("type", "text");
        firstnameInput.setAttribute("class", "form-control");
        firstnameInput.setAttribute("name", "firstname");
        firstnameInput.setAttribute("value", firstname);
        firstnameInput.dataset.current = firstname;
        var firstNameTd = document.createElement("TD");
        firstNameTd.appendChild(firstnameInput);
        row.replaceChild(firstNameTd, row.children[2]);

        // City
        var city = row.children[3].innerText;
        var cityInput = document.createElement("INPUT");
        cityInput.setAttribute("id", "city");
        cityInput.setAttribute("type", "text");
        cityInput.setAttribute("class", "form-control");
        cityInput.setAttribute("name", "city");
        cityInput.setAttribute("value", city);
        cityInput.dataset.current = city;
        var cityTd = document.createElement("TD");
        cityTd.appendChild(cityInput);
        row.replaceChild(cityTd, row.children[3]);
    }

    function setReadMode(rowId) {

        $('[data-validate-button=' + rowId + ']')[0].style.display = "none";
        $('[data-cancel-button=' + rowId + ']')[0].style.display = "none";
        $('[data-edit-button=' + rowId + ']')[0].style.setProperty("display", "inline", "important");
        $('[data-delete-button=' + rowId + ']')[0].style.setProperty("display", "inline", "important");

        var row = $('[data-id=' + rowId + ']')[0];

        // Surname
        var surname = row.children[1].firstChild.dataset.current;
        var surnameTd = document.createElement("TD");
        surnameTd.innerText = surname;
        row.replaceChild(surnameTd, row.children[1]);

        // Firstname
        var firstname = row.children[2].firstChild.dataset.current;
        var firstnameTd = document.createElement("TD");
        firstnameTd.innerText = firstname;
        row.replaceChild(firstnameTd, row.children[2]);

        // City
        var city = row.children[3].firstChild.dataset.current;
        var cityTd = document.createElement("TD");
        cityTd.innerText = city;
        row.replaceChild(cityTd, row.children[3]);

        filter();
    }

    function editAdherent(rowId){
        var row = $('[data-id=' + rowId + ']')[0];

        var surname = row.children[1].firstChild.value;
        var firstname = row.children[2].firstChild.value;
        var city = row.children[3].firstChild.value;

        var ok = true;
        if (surname === "") {
            row.children[1].firstChild.classList.add('is-invalid');
            ok = false;
        }
        if (firstname === "") {
            row.children[2].firstChild.classList.add('is-invalid');
            ok = false;
        }
        if (city === "") {
            row.children[3].firstChild.classList.add('is-invalid');
            ok = false;
        }
        if (!ok)
            return;

        var URL = "/adherents/" + rowId;
        var dataObject = { 'firstname': firstname, 'surname': surname, 'city': city };

        $.ajax({
            url: URL,
            type: 'PUT',
            data: dataObject,
            dataType: 'json',
            success: function(result) {
                row.children[1].firstChild.dataset.current = surname;
                row.children[2].firstChild.dataset.current = firstname;
                row.children[3].firstChild.dataset.current = city;

                setReadMode(rowId);
            },
            error : function(resultat){
                setReadMode(rowId);
            }
        });


    }

    function deleteAdherent(id) {
        var URL = "/adherents/" + id;

        $.ajax({
            url: URL,
            type: 'DELETE',
            success: function(result) {
                var row = $('[data-id=' + id + ']')[0];
                row.remove();
            },
            error : function(resultat){
            }
        });
    }

    function filter() {
        var searchInput, filter, table, tr, td, i;
        searchInput = document.getElementById("searchInput");
        filter = searchInput.value.toUpperCase();
        table = document.getElementById("adherentTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            tds = tr[i].getElementsByTagName("td");
            if (tds.length > 0) {

                var displayed = false;
                for(j = 0; j < tds.length - 1; j++){
                    td = tr[i].getElementsByTagName("td")[j];
                    if(td){
                        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            displayed = true;
                        }
                    }
                }

                if(displayed)
                    tr[i].style.display = "";
                else
                    tr[i].style.display = "none";

            }
        }
    }

</script>