<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      th:with="title='Liste des réservations'">

<th:block layout:fragment="content">
    <input id="searchInput" type="text" class="form-control" name="searchInput" onkeyup="filter()"
           placeholder="Rechercher une réservation"/>
    <table class="table table-striped" id="bookingTable">
        <thead class="thead-dark">
        <tr>
            <th class="sortableHeader" onclick="sort(0)">Oeuvre vente  <i class="fa fa-sort"></i></th>
            <th class="sortableHeader" onclick="sort(1)">Adhérent  <i class="fa fa-sort"></i></th>
            <th class="sortableHeader" onclick="sort(2)">Date  <i class="fa fa-sort"></i></th>
            <th class="sortableHeader" onclick="sort(3)">Statut  <i class="fa fa-sort"></i></th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="booking : ${bookings}"
            th:attr="data-id=${booking.getWorkForSale().getId() + '-' + booking.getAdherent().getId()}">
            <td th:text="${booking.getWorkForSale().getTitle()}"
                th:attr="data-workforsale-id=${booking.getWorkForSale().getId()}"></td>
            <td th:text="${booking.getAdherent().getFirstname() + ' ' + booking.getAdherent().getSurname()}"
                th:attr="data-adherent-id=${booking.getAdherent().getId()}"></td>
            <td th:text="${booking.getBookingDate()}"></td>
            <td th:text="${booking.getFormatedStatus()}"
                th:attr="data-status=${booking.getStatus()}"></td>
            <td>
                <button th:attr="data-validate-button=${booking.getWorkForSale().getId() + '-' + booking.getAdherent().getId()}"
                        type="button" class="btn btn-success validateModificationsButton"
                        th:onclick="'editBooking(\'' + ${booking.getWorkForSale().getId() + '-' + booking.getAdherent().getId()} + '\');'">
                    <i class="fa fa-check" style="color:white; font-size:1.5em;"></i>
                </button>
                <button th:attr="data-cancel-button=${booking.getWorkForSale().getId() + '-' + booking.getAdherent().getId()}"
                        type="button" class="btn btn-warning cancelModificationsButton"
                        th:onclick="'setReadMode(\'' + ${booking.getWorkForSale().getId() + '-' + booking.getAdherent().getId()} + '\');'">
                    <i class="fa fa-times" style="color:white; font-size:1.5em;"></i>
                </button>
                <button th:attr="data-edit-button=${booking.getWorkForSale().getId() + '-' + booking.getAdherent().getId()}"
                        type="button" class="btn btn-warning"
                        th:onclick="'setEditMode(\'' + ${booking.getWorkForSale().getId() + '-' + booking.getAdherent().getId()} + '\');'">
                    <i class="fa fa-pencil" style="color:white; font-size:1.5em;"></i>
                </button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmationModal"
                        th:attr="data-delete-button=${booking.getWorkForSale().getId() + '-' + booking.getAdherent().getId()},
                    data-workforsale-id=${booking.getWorkForSale().getId()},data-adherent-id=${booking.getAdherent().getId()},
                    data-workforsale-title=${booking.getWorkForSale().getTitle()},data-adherent-name=${booking.getAdherent().getFirstname() + ' ' + booking.getAdherent().getSurname()}">
                    <i class="fa fa-trash" style="color:white; font-size:1.5em;"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="modal fade" id="deleteConfirmationModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmation de suppression</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Voulez-vous vraiment annuler la réservation de <span id="workForSaleTitle"></span> effectuée par
                        <span id="adherentName"></span>?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        <a id="deleteConfirmationLink" style="color:inherit">Supprimer</a>
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>

        </div>
    </div>
</th:block>
</html>

<script type="text/javascript">
    $('#deleteConfirmationModal').on('show.bs.modal', function (e) {
        var workForSaleId = $(e.relatedTarget).data('workforsale-id');
        var adherentId = $(e.relatedTarget).data('adherent-id');
        var workForSaleTitle = $(e.relatedTarget).data('workforsale-title');
        var adherentName = $(e.relatedTarget).data('adherent-name');

        document.getElementById("workForSaleTitle").innerHTML = '' + workForSaleTitle;
        document.getElementById("adherentName").innerHTML = '' + adherentName;

        document.getElementById("deleteConfirmationLink").onclick = function () {
            deleteBooking(adherentId, workForSaleId);
        };
    });

    function setEditMode(rowId) {

        $('[data-validate-button=' + rowId + ']')[0].style.setProperty("display", "inline", "important");
        $('[data-cancel-button=' + rowId + ']')[0].style.setProperty("display", "inline", "important");
        $('[data-edit-button=' + rowId + ']')[0].style.display = "none";
        $('[data-delete-button=' + rowId + ']')[0].style.display = "none";

        var row = $('[data-id=' + rowId + ']')[0];

        // Date
        var date = row.children[2].innerText;
        var dateInput = document.createElement("INPUT");
        dateInput.setAttribute("class", "form-control bookingDate");
        dateInput.setAttribute("name", "date");
        dateInput.setAttribute("type", "text");
        dateInput.setAttribute("value", date);
        dateInput.dataset.current = date;
        var dateTd = document.createElement("TD");
        dateTd.appendChild(dateInput);
        row.replaceChild(dateTd, row.children[2]);

        // Status
        var status = row.children[3].dataset.status;
        var statusInput = document.createElement("SELECT");
        statusInput.setAttribute("id", "status");
        statusInput.setAttribute("class", "form-control");
        statusInput.setAttribute("name", "status");

        var option = document.createElement("OPTION");
        option.innerText = 'En attente';
        option.setAttribute("value", 'pending');
        statusInput.appendChild(option);

        option = document.createElement("OPTION");
        option.innerText = 'Confirmé';
        option.setAttribute("value", 'confirmed');
        statusInput.appendChild(option);

        statusInput.value = status;
        statusInput.dataset.current = status;
        var statusTd = document.createElement("TD");
        statusTd.appendChild(statusInput);
        row.replaceChild(statusTd, row.children[3]);
    }

    function setReadMode(rowId) {

        $('[data-validate-button=' + rowId + ']')[0].style.display = "none";
        $('[data-cancel-button=' + rowId + ']')[0].style.display = "none";
        $('[data-edit-button=' + rowId + ']')[0].style.setProperty("display", "inline", "important");
        $('[data-delete-button=' + rowId + ']')[0].style.setProperty("display", "inline", "important");

        var row = $('[data-id=' + rowId + ']')[0];

        // Title
        var date = row.children[2].firstChild.dataset.current;
        var dateTd = document.createElement("TD");
        dateTd.innerText = date;
        row.replaceChild(dateTd, row.children[2]);

        // Status
        var status = row.children[3].firstChild.dataset.current;
        var statusTd = document.createElement("TD");
        statusTd.innerText = status;
        statusTd.dataset.status = row.children[3].firstChild.dataset.status;
        row.replaceChild(statusTd, row.children[3]);

        filter();
    }

    function editBooking(rowId) {
        var row = $('[data-id=' + rowId + ']')[0];

        var splittedRow = rowId.split("-");

        var workForSaleId = splittedRow[0];
        var adherentId = splittedRow[1];
        var bookingDate = row.children[2].firstChild.value;
        var status = row.children[3].firstChild.value;

        var ok = true;
        if (bookingDate === "") {
            row.children[2].firstChild.classList.add('is-invalid');
            ok = false;
        }
        if (!ok)
            return;

        var URL = "/bookings/" + adherentId + "/" + workForSaleId;
        var dataObject = {'bookingDate': bookingDate, 'status': status};

        $.ajax({
            url: URL,
            type: 'PUT',
            data: dataObject,
            dataType: 'json',
            success: function (result) {
                row.children[2].firstChild.dataset.current = bookingDate;
                row.children[3].firstChild.dataset.current = status === "pending" ? "En attente" : status === "confirmed" ? "Confirmé" : "Indéterminé";
                row.children[3].firstChild.dataset.status = status;
                setReadMode(rowId);
            },
            error: function (resultat) {
                setReadMode(rowId);
            }
        });
    }

    function deleteBooking(adherentId, workForSaleId) {
        var URL = "/bookings/" + adherentId + "/" + workForSaleId;

        $.ajax({
            url: URL,
            type: 'DELETE',
            success: function (result) {
                var row = $('[data-id=' + workForSaleId + '-' + adherentId + ']')[0];
                row.remove();
            },
            error: function (resultat) {
            }
        });
    }

    function filter() {
        var searchInput, filter, table, tr, td, i;
        searchInput = document.getElementById("searchInput");
        filter = searchInput.value.toUpperCase();
        table = document.getElementById("bookingTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            tds = tr[i].getElementsByTagName("td");
            if (tds.length > 0) {

                var displayed = false;
                for (j = 0; j < tds.length - 1; j++) {
                    td = tr[i].getElementsByTagName("td")[j];
                    if (td) {
                        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            displayed = true;
                        }
                    }
                }

                if (displayed)
                    tr[i].style.display = "";
                else
                    tr[i].style.display = "none";

            }
        }
    }

    function sort(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("bookingTable");
        switching = true;
        dir = "asc";

        while (switching) {
            switching = false;
            rows = table.getElementsByTagName("TR");

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];

                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>