<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      th:with="title='Réserver une oeuvre vente'">
<th:block layout:fragment="content">
    <div class="form-group">
        <label for="workforsale">Oeuvre vente</label>
        <select class="form-control" id="workforsale">
            <option th:each="workforsale : ${worksforsale}" th:text="${workforsale.getTitle()}"
                    th:value="${workforsale.getId()}"></option>
        </select>
    </div>

    <div class="form-group">
        <label for="adherent">Adhérent</label>
        <select class="form-control" id="adherent">
            <option th:each="adherent : ${adherents}" th:text="${adherent.getFirstname() + ' ' + adherent.getSurname()}"
                    th:value="${adherent.getId()}"></option>
        </select>
    </div>

    <div class="form-group">
        <label for="bookingDate">Date</label>
        <input id="bookingDate" type="date" class="form-control" name="bookingDate"/>
    </div>

    <div class="form-group">

        <label for="status">Statut</label>
        <select id="status" class="form-control">
            <option th:value="pending">En attente</option>
            <option th:value="confirmed">Confirmé</option>
        </select>
    </div>

    <button class="btn btn-success" onclick="submit()">Réserver l'oeuvre</button>
</th:block>
</html>


<script type="text/javascript">

    function submit() {

        var workForSaleId = document.getElementById("workforsale").value;
        var adherentId = document.getElementById("adherent").value;
        var bookingDate = document.getElementById("bookingDate").value;
        var status = document.getElementById("status").value;

        var ok = true;
        if (bookingDate === "") {
            document.getElementById("bookingDate").classList.add('is-invalid');
            ok = false;
        }
        if (!ok)
            return;

        var URL = "/bookings";

        var dataObject = {'bookingDate': bookingDate, 'status': status ,'workForSaleId': workForSaleId, 'adherentId': adherentId};

        $.ajax({
            url: URL,
            type: 'POST',
            data: dataObject,
            dataType: 'json',
            success: function (result) {
                location.href = URL;
            },
            error: function (resultat) {

            }
        });
    }

</script>