<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      th:with="title='Liste des réservations'">

<th:block layout:fragment="content">
    <br>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Oeuvre vente</th>
            <th>Adhérent</th>
            <th>Date</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="booking : ${bookings}"
            th:attr="data-id=${booking.getWorkForSale().getId() + '-' + booking.getAdherent().getId()}">
            <td th:text="${booking.getWorkForSale().getTitle()}"
                th:attr="data-workforsale-id=${booking.getWorkForSale().getId()}"></td>
            <td th:text="${booking.getAdherent().getFirstname() + ' ' + booking.getAdherent().getSurname()}"
                th:attr="data-adherent-id=${booking.getAdherent().getId()}"></td>
            <td th:text="${booking.getBookingDate()}"></td>
            <td th:text="${booking.getStatus()}"></td>
            <td>
                <button th:attr="data-validate-button=${booking.getWorkForSale().getId() + '-' + booking.getAdherent().getId()}"
                        type="button" class="btn btn-success validateModificationsButton"
                        th:onclick="'editBooking(\'' + ${booking.getWorkForSale().getId() + '-' + booking.getAdherent().getId()} + '\');'">
                    <i class="fa fa-check" style="color:white; font-size:1.5em;"></i>
                </button>
                <button th:attr="data-cancel-button=${booking.getWorkForSale().getId() + '-' + booking.getAdherent().getId()}"
                        type="button" class="btn btn-warning cancelModificationsButton"
                        th:onclick="'setReadMode(\'' + ${booking.getWorkForSale().getId() + '-' + booking.getAdherent().getId()} + '\');'">
                    <i class="fa fa-times" style="color:white; font-size:1.5em;"></i>
                </button>
                <button th:attr="data-edit-button=${booking.getWorkForSale().getId() + '-' + booking.getAdherent().getId()}"
                        type="button" class="btn btn-warning"
                        th:onclick="'setEditMode(\'' + ${booking.getWorkForSale().getId() + '-' + booking.getAdherent().getId()} + '\');'">
                    <i class="fa fa-pencil" style="color:white; font-size:1.5em;"></i>
                </button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmationModal"
                        th:attr="data-delete-button=${booking.getWorkForSale().getId() + '-' + booking.getAdherent().getId()},
                    data-workforsale-id=${booking.getWorkForSale().getId()},data-adherent-id=${booking.getAdherent().getId()},
                    data-workforsale-title=${booking.getWorkForSale().getTitle()},data-adherent-name=${booking.getAdherent().getFirstname() + ' ' + booking.getAdherent().getSurname()}">
                    <i class="fa fa-trash" style="color:white; font-size:1.5em;"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="modal fade" id="deleteConfirmationModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmation de suppression</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Voulez-vous vraiment annuler la réservation de <span id="workForSaleTitle"></span> effectuée par
                        <span id="adherentName"></span>?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        <a id="deleteConfirmationLink" style="color:inherit">Supprimer</a>
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>

        </div>
    </div>
</th:block>
</html>

<script type="text/javascript">
    $('#deleteConfirmationModal').on('show.bs.modal', function (e) {
        var workForSaleId = $(e.relatedTarget).data('workforsale-id');
        var adherentId = $(e.relatedTarget).data('adherent-id');
        var workForSaleTitle = $(e.relatedTarget).data('workforsale-title');
        var adherentName = $(e.relatedTarget).data('adherent-name');

        document.getElementById("workForSaleTitle").innerHTML = '' + workForSaleTitle;
        document.getElementById("adherentName").innerHTML = '' + adherentName;

        document.getElementById("deleteConfirmationLink").onclick = function () {
            deleteBooking(adherentId, workForSaleId);
        };
    });

    function setEditMode(rowId) {

        $('[data-validate-button=' + rowId + ']')[0].style.setProperty("display", "inline", "important");
        $('[data-cancel-button=' + rowId + ']')[0].style.setProperty("display", "inline", "important");
        $('[data-edit-button=' + rowId + ']')[0].style.display = "none";
        $('[data-delete-button=' + rowId + ']')[0].style.display = "none";

        var row = $('[data-id=' + rowId + ']')[0];


        // WorkForSale
        var workForSaleId = row.children[0].dataset.workforsaleId;
        var workForSaleSelect = document.createElement("SELECT");
        workForSaleSelect.setAttribute("class", "form-control");
        workForSaleSelect.dataset.current = row.children[0].innerText;
        workForSaleSelect.dataset.workforsaleId = workForSaleId;

        var URL = "/worksforsale/all";

        $.ajax({
            url: URL,
            type: 'GET',
            success: function (result) {
                result.forEach(function (element) {
                    var option = document.createElement("OPTION");
                    option.innerText = element.title;
                    option.setAttribute("value", element.id);
                    workForSaleSelect.appendChild(option);
                });

                workForSaleSelect.value = workForSaleId;
                var workForSaleTd = document.createElement("TD");
                workForSaleTd.appendChild(workForSaleSelect)
                row.replaceChild(workForSaleTd, row.children[0]);
            },
            error: function (resultat) {
            }
        });

        // Adherent
        var adherentId = row.children[1].dataset.adherentId;
        var adherentSelect = document.createElement("SELECT");
        adherentSelect.setAttribute("class", "form-control");
        adherentSelect.dataset.current = row.children[1].innerText;
        adherentSelect.dataset.adherentId = adherentId;

        var URL = "/adherents/all";

        $.ajax({
            url: URL,
            type: 'GET',
            success: function (result) {
                result.forEach(function (element) {
                    var option = document.createElement("OPTION");
                    option.innerText = element.firstname + ' ' + element.surname;
                    option.setAttribute("value", element.id);
                    adherentSelect.appendChild(option);
                });

                adherentSelect.value = adherentId;
                var adherentTd = document.createElement("TD");
                adherentTd.appendChild(adherentSelect)
                row.replaceChild(adherentTd, row.children[1]);
            },
            error: function (resultat) {
            }
        });

        // Date
        var date = row.children[2].innerText;
        var dateInput = document.createElement("INPUT");
        dateInput.setAttribute("class", "form-control");
        dateInput.setAttribute("name", "date");
        dateInput.setAttribute("type", "date");
        dateInput.setAttribute("value", date);
        dateInput.dataset.current = date;
        var dateTd = document.createElement("TD");
        dateTd.appendChild(dateInput);
        row.replaceChild(dateTd, row.children[2]);

        // Status
        var status = row.children[3].innerText;
        var statusInput = document.createElement("INPUT");
        statusInput.setAttribute("id", "surname");
        statusInput.setAttribute("type", "text");
        statusInput.setAttribute("class", "form-control");
        statusInput.setAttribute("name", "status");
        statusInput.setAttribute("value", status);
        statusInput.dataset.current = status;
        var statusTd = document.createElement("TD");
        statusTd.appendChild(statusInput);
        row.replaceChild(statusTd, row.children[3]);
    }

    function setReadMode(rowId) {

        $('[data-validate-button=' + rowId + ']')[0].style.display = "none";
        $('[data-cancel-button=' + rowId + ']')[0].style.display = "none";
        $('[data-edit-button=' + rowId + ']')[0].style.setProperty("display", "inline", "important");
        $('[data-delete-button=' + rowId + ']')[0].style.setProperty("display", "inline", "important");

        var row = $('[data-id=' + rowId + ']')[0];

        // WorkForSale
        var workForSale = row.children[0].firstChild.dataset.current;
        var workForSaleTd = document.createElement("TD");
        workForSaleTd.innerText = workForSale;
        workForSaleTd.dataset.workforsaleId = row.children[0].firstChild.dataset.workforsaleId;
        row.replaceChild(workForSaleTd, row.children[0]);

        // Adherent
        var adherent = row.children[1].firstChild.dataset.current;
        var adherentTd = document.createElement("TD");
        adherentTd.innerText = adherent;
        adherentTd.dataset.adherentId = row.children[1].firstChild.dataset.adherentId;
        row.replaceChild(adherentTd, row.children[1]);

        // Title
        var date = row.children[2].firstChild.dataset.current;
        var dateTd = document.createElement("TD");
        dateTd.innerText = date;
        row.replaceChild(dateTd, row.children[2]);

        // Status
        var status = row.children[3].firstChild.dataset.current;
        var statusTd = document.createElement("TD");
        statusTd.innerText = status;
        row.replaceChild(statusTd, row.children[3]);
    }

    function editBooking(rowId) {
        var row = $('[data-id=' + rowId + ']')[0];

        var workForSaleId = row.children[0].firstChild.value;
        var adherentId = row.children[1].firstChild.value;
        var bookingDate = row.children[2].firstChild.value;
        var status = row.children[3].firstChild.value;

        var URL = "/bookings/" + adherentId + "/" + workForSaleId;
        var dataObject = {'bookingDate': bookingDate, 'status': status};

        $.ajax({
            url: URL,
            type: 'PUT',
            data: dataObject,
            dataType: 'json',
            success: function (result) {
                row.children[0].firstChild.dataset.current = row.children[0].firstChild.options[row.children[0].firstChild.selectedIndex].text;
                row.children[1].firstChild.dataset.current = row.children[1].firstChild.options[row.children[1].firstChild.selectedIndex].text;
                row.children[2].firstChild.dataset.current = bookingDate;
                row.children[3].firstChild.dataset.current = status;
                setReadMode(rowId);
            },
            error: function (resultat) {
                setReadMode(rowId);
            }
        });
    }

    function deleteBooking(adherentId, workForSaleId) {
        var URL = "/bookings/" + adherentId + "/" + workForSaleId;

        $.ajax({
            url: URL,
            type: 'DELETE',
            success: function (result) {
                var row = $('[data-id=' + workForSaleId + '-' + adherentId + ']')[0];
                row.remove();
            },
            error: function (resultat) {
            }
        });
    }

</script>