<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Projet Œuvres Polytech</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Accueil</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="adherentDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Adhérents
                    </a>
                    <div class="dropdown-menu" aria-labelledby="adherentDropdown">
                        <a class="dropdown-item" href="/adherents">Liste</a>
                        <a class="dropdown-item" href="/adherents/add">Ajouter</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="ownerDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Propriétaires
                    </a>
                    <div class="dropdown-menu" aria-labelledby="ownerDropdown">
                        <a class="dropdown-item" href="/owners">Liste</a>
                        <a class="dropdown-item" href="/owners/add">Ajouter</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="workForLendingDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Oeuvres prêt
                    </a>
                    <div class="dropdown-menu" aria-labelledby="workForLendingDropdown">
                        <a class="dropdown-item" href="/worksforlending">Liste</a>
                        <a class="dropdown-item" href="/worksforlending/add">Ajouter</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>